// Screen sizes
$mobile-max: 767px;
$tablet-max: 1023px;
$laptop-max: 1439px;

// Retina
$retina-dpi: 144dpi;
$retina-dppx: 1.5dppx;

// Colors
$color-bg: #FFF;
$color-text: #00151C;

// Gradients
$slider-gradient: linear-gradient(90deg, rgba(196, 196, 196, 0) 0%, rgba(196, 196, 196, .918343) 8.17%, #C4C4C4 91.84%, rgba(196, 196, 196, 0) 100%);
// Box-shadows

// Fonts
$font: "Montserrat", "Arial", -apple-system, sans-serif;
